<!DOCTYPE html>
<html>
<!--Based on https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Movie Recommendation System</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    body {
      overflow-y: scroll;
    }
  </style>
</head>

<body>
  <div class="login">
    <h1>Enter a movie and get the top 10 recommended movies to watch</h1>

    <form action="{{ url_for('user_input') }}" method="post">
      <input type="text" name="text" placeholder="Enter movie" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>

    <br>
    <br>
    {% if top_10 %}
    <h2>Top 10 Recommended Movies:</h2>
    {{ top_10|safe }}
    {% endif %}
  </div>

</body>
</html>
